.accordion__button {
  margin: 0;
  padding: 20px 25px;
  width: 100%;

  font-size: inherit;
  font-weight: 500;
  text-align: left;

  transition: color $easy;

  &:hover,
  &:active,
  &:focus {
    color: $gold;
  }

  &--active {
    @include corner;

    position: relative;
  }

  &--close::after {
    transform-origin: 20% 50%;
    transform: rotate(225deg);
  }

  @media (max-width: $mobile) {
    padding: 21px;
  }
}

.accordion__button--close ~ .accordion__block {
  display: none;
}
