.catalog {
  display: flex;
  column-gap: 50px;
}

.catalog__filter-link {
  display: none;
}

.catalog__filter {
  min-width: 200px;
}

.catalog__list {
  @include list-style-reset;

  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
}
