.catalog {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 50px;

  margin-bottom: 80px;

  @media (max-width: $tablet) {
    display: block;
  }

  @media (max-width: $mobile) {
    margin-bottom: 70px;
  }
}

.catalog__filter-link {
  display: none;

  padding: 28px 0;
  margin-bottom: 50px;

  color: $white;
  text-decoration: none;
  background-color: $gold;

  &--show {
    @media (max-width: $tablet) {
      display: block;
    }
  }
}

.catalog__filter {
  min-width: 210px;

  @media (max-width: $tablet) {
    max-height: 0;
    opacity: 0;
    transform: translateX(-200%);
    transition: opacity $easy;
  }

  &--show {
    @media (max-width: $tablet) {
      position: fixed;
      top: 27px;
      left: -19px;
      bottom: 89px;
      right: 60%;

      display: flex;
      flex-direction: column;
      align-items: flex-end;

      max-height: none;
      opacity: 1;
      transform: translateX(0);
    }
  }
}

.catalog__list {
  @include list-style-reset;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 36px;

  margin-bottom: 70px;

  @media (max-width: $mobile) {
    margin-bottom: 50px;
    grid-template-columns: 1fr 1fr;
  }
}

.catalog__pagination {
  position: relative;
}

.catalog__button {
  position: absolute;
  top: 0;
  font: inherit;

  &--prev {
    left: 0;
  }

  &--next {
    right: 0;
  }

  @media (max-width: $mobile) {
    display: none;
  }
}
