.filter {
  text-align: left;

  @media (max-width: $tablet) {
    display: none;

    font-size: 18px;

    background-color: $white;
    box-shadow: 0 5px 32px rgba($grey, 0.24);

    &--show {
      display: block;
      overflow-y: scroll;
    }
  }
}

.filter__form {
  @media (max-width: $tablet) {
    position: fixed;
    top: 27px;
    right: 45%;
    bottom: 67px;
    left: -14px;

    background-color: $white;
    box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);
    z-index: 1000;

    overflow-y: scroll;
  }

  @media (max-width: $mobile) {
    top: 75px;
    right: 25px;
    left: 25px;
  }
}

.filter--show .filter__overlay {
  @media (max-width: $tablet) {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: $white;
    z-index: 100;
  }
}

.filter label {
  padding: 0 5px;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $gold;
  }
}

.filter form {
  position: relative;

  display: flex;
  flex-direction: column;

  @media (max-width: $tablet) {
    padding-bottom: 15px;
    width: 100%;
    overflow: scroll;
  }
}

.filter__close-button {
  @media (max-width: $tablet) {
    position: fixed;
    top: 0;
    right: 41.5%;

    padding: 10px;

    z-index: 10000;
  }

  @media (max-width: $mobile) {
    top: 50px;
    right: 5px;
  }
}

.filter__close-button span {
  @media (max-width: $tablet) {
    position: relative;

    display: block;
    width: 32px;
    height: 32px;

    border-radius: 50%;
    background-color: $basic-black;

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      content: "";

      width: 15px;
      height: 2px;

      background-color: $white;
    }

    &::after {
      transform: translateX(-50%) translateY(-50%) rotate(45deg);
    }

    &::before {
      transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    }
  }
}

.filter form > button {
  display: block;

  margin: 0 0 25px;
  padding: 21px 20px;

  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  color: $white;

  background-color: $gold;
  border: none;
  transition: opacity $easy;

  &:hover {
    opacity: 0.7;
  }

  &:first-of-type {
    margin: 35px auto 25px;

    @media (max-width: $tablet) {
      margin-top: 40px;
    }
  }

  &:last-of-type {
    color: $basic-black;
    background-color: $white;
    border: $gold-line;
  }

  @media (max-width: $tablet) {
    margin: 0 auto 25px;
    width: calc(100% - 80px);
  }

  @media (max-width: $mobile) {
    margin-bottom: 20px;
    width: calc(100% - 40px);
  }
}

.filter fieldset {
  position: relative;
  display: block;

  margin: 0;
  padding: 0;

  border: $gold-line;
  border-bottom: none;

  @media (max-width: $tablet) {
    padding: 11px 15px 16px 10px;
    border: 0;
    border-bottom: $gold-line;
  }

  @media (max-width: $mobile) {
    padding: 23px 14px 22px 21px;
  }
}

.filter ul {
  @include list-style-reset;

  margin: 0 29px 27px;

  font-size: 14px;

  overflow: hidden;
  transition: max-height $easy;

  @media (max-width: $tablet) {
    margin-bottom: 16px;

    font-size: 16px;
    line-height: 21px;
  }
}

.filter li:not(:last-child) {
  margin-bottom: 9px;

  @media (max-width: $tablet) {
    margin-bottom: 18px;
  }
}

.filter input[type="radio"],
.filter input[type="checkbox"] {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.filter input + span {
  display: inline-block;
  vertical-align: middle;

  margin-right: 6px;
  width: 15px;
  height: 15px;

  border: $gold-line;
  background-color: $white;

  @media (max-width: $tablet) {
    margin-right: 9px;
    width: 18px;
    height: 18px;
  }
}

.filter input:checked + span {
  background-color: $gold;
}

.filter input:disabled ~ span {
  opacity: 0.4;
}

.filter input:focus + span {
  outline: 2px solid $gold;
  outline-offset: 1px;
}

.filter__price-wrapper {
  border: $gold-line;

  @media (max-width: $tablet) {
    padding: 12px 15px 16px 10px;

    border-left: 0;
    border-right: 0;
    border-top: 0;
  }

  @media (max-width: $mobile) {
    padding: 23px 14px 22px 21px;
  }
}

.filter__range {
  padding: 0 25px 12px;
}

.filter__controls {
  position: relative;

  padding: 6px 0;

  @media (max-width: $tablet) {
    padding: 8px 0;
  }

  @media (max-width: $mobile) {
    margin-top: 20px;
  }
}

.filter__controls button {
  position: absolute;
  bottom: 0;
  display: block;

  width: 15px;
  height: 15px;

  background-color: $gold;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: scale $easy;

  &:first-of-type {
    left: 22%;

    @media (max-width: $tablet) {
      left: 15%;
    }

    @media (max-width: $mobile) {
      left: 12%;
    }
  }

  &:last-of-type {
    left: 75%;

    @media (max-width: $tablet) {
      left: 64%;
    }

    @media (max-width: $mobile) {
      right: 21%;
    }
  }

  &:hover {
    transform: scale(110%);
  }

  @media (max-width: $tablet) {
    width: 17px;
    height: 17px;
  }
}

.filter__scale {
  height: 2px;
  background-color: $grey-bar;
}

.filter__bar {
  position: absolute;
  left: 24%;
  right: 20%;

  height: 2px;

  background-color: $gold;

  @media (max-width: $tablet) {
    left: 17%;
    right: 35%;
  }

  @media (max-width: $mobile) {
    right: 27%;
  }
}

.filter__price-inputs {
  position: relative;

  margin-top: 3px;
  height: 29px;

  @media (max-width: $tablet) {
    font-size: 16px;
  }

  label {
    position: absolute;
    top: 0;

    display: block;
  }

  label:first-child {
    left: 17%;

    @media (max-width: $tablet) {
      left: 10%;
    }

    @media (max-width: $mobile) {
      left: 5%;
    }
  }

  label:last-child {
    left: 65%;

    @media (max-width: $tablet) {
      left: 58%;
    }

    @media (max-width: $mobile) {
      left: 53%;
    }
  }

  input {
    width: 40px;
    height: 24px;

    border: none;
    border-radius: 3px;

    appearance: textfield;

    @media (max-width: $tablet) {
      margin-top: 3px;
      font-size: inherit;
    }
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
}
