.instagram {
  margin-bottom: 130px;

  @media (max-width: $tablet) {
    margin-bottom: 79px;
  }
}

.instagram h2 {
  margin-bottom: 30px;

  @media (max-width: $tablet) {
    margin-bottom: 19px;
  }
}

.instagram span {
  font-size: 42px;
}

.instagram__list {
  @include list-style-reset;

  display: grid;
  grid-template-columns: 20% 34% 20% 20%;
  column-gap: 2%;
  row-gap: 27px;

  margin-top: 60px;

  @media (max-width: $mobile) {
    margin-top: 50px;
    grid-template-columns: 1fr 1fr;
  }
}

.instagram__item {
  &--big {
    grid-row-end: span 2;
  }

  &--hidden-in-mobile {
    @media (max-width: $mobile) {
      display: none;
    }
  }
}

.instagram__link {
  display: block;
  height: 100%;
  overflow: hidden;

  img {
    height: 100%;
    object-fit: cover;
  }
}
