.intro {
  display: grid;
  place-items: center;

  padding: 50px 0;
  min-height: 463px;

  font-family: $garamond;
  color: $white;
  font-size: 38px;
  line-height: 130%;
  font-weight: 400;

  background-image: url("../img/intro-desktop@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $gold;

  @media (min-resolution: $retina) {
    background-image: url("../img/intro-desktop@2x.jpg");
  }

  @media (max-width: $tablet) {
    background-image: url("../img/intro-tablet@1x.jpg");

    @media (min-resolution: $retina) {
      background-image: url("../img/intro-tablet@2x.jpg");
    }
  }

  @media (max-width: $mobile) {
    font-size: 34px;
  }

  &--catalog {
    min-height: 261px;
    font-size: 22px;

    background-image: url("../img/catalog-intro-desktop@1x.jpg");

    @media (min-resolution: $retina) {
      background-image: url("../img/catalog-intro-desktop@2x.jpg");
    }

    @media (max-width: $tablet) {
      background-image: url("../img/catalog-intro-tablet@1x.jpg");

      @media (min-resolution: $retina) {
        background-image: url("../img/catalog-intro-tablet@2x.jpg");
      }
    }

    @media (max-width: $mobile) {
      padding: 52px 0 57px;

      font-size: 22px;
      line-height: 26px;
    }
  }
}

.intro h2 {
  @include title;

  font-size: 45px;
  text-transform: uppercase;

  @media (max-width: $mobile) {
    font-size: 38px;
  }
}

.intro--catalog h2 {
  font-size: 34px;
}

.intro p {
  margin: 0;
  font-style: italic;
}

// .intro__img-wrapper img {
//   object-fit: cover;
// }

.intro__txt {
  display: flex;
  flex: 1;
  height: 463px;
  flex-direction: column;
  justify-content: center;
}
