.intro {
  position: relative;
  font-family: $garamond;
  font-size: 38px;
  line-height: 130%;
  color: $white;

  @media (max-width: $mobile) {
    font-size: 34px;
  }
}

.intro h2 {
  @include title;

  font-size: 45px;
  text-transform: uppercase;

  @media (max-width: $mobile) {
    font-size: 38px;
  }
}

.intro p {
  margin: 0;
  font-style: italic;
  font-weight: 400;
}

.intro__img-wrapper {
  background-color: $gold;
}

.intro__img-wrapper img {
  object-fit: cover;
  height: 100%;
}

.intro__txt {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
