.intro {
  position: relative;

  font-family: $garamond;
  color: $white;
  font-size: 38px;
  line-height: 130%;
  font-weight: 400;

  @media (max-width: $mobile) {
    font-size: 34px;
  }

  &--catalog {
    font-size: 22px;
  }
}

.intro img {
  height: 463px;
}

.intro--catalog img {
  height: 261px;
}


.intro h2 {
  @include title;

  font-size: 45px;
  text-transform: uppercase;

  @media (max-width: $mobile) {
    font-size: 38px;
  }
}

.intro--catalog h2 {
  font-size: 34px;
}

.intro p {
  margin: 0;
  font-style: italic;
}

.intro__img-wrapper img {
    object-fit: cover;
}

.intro__txt {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 0 50px;
}
