.login {
  display: grid;
  place-items: center;

  margin: 0;
  height: 100vh;

  font-size: 14px;
  line-height: 21px;
  color: $grey;
}

.login h2 {
  @include title;

  margin-bottom: 25px;
  color: $basic-black;

  @media (max-width: $mobile) {
    margin-bottom: 17px;
    font-size: 24px;
  }
}

.login p {
  margin: 0;
  text-align: center;
}

.login__img-wrapper {
  margin-bottom: 50px;

  @media (max-width: $mobile) {
    margin-bottom: 37px;
  }
}

.login__form {
  position: relative;

  margin: auto;
  padding-bottom: 45px;
  width: 430px;
  background-color: $basic;

  z-index: 1000;

  @media (max-width: $tablet) {
    width: 442px;
  }

  @media (max-width: $mobile) {
    padding-bottom: 40px;
    width: calc(100vw - 50px);
    min-width: 270px;
  }
}

.login form {
  display: flex;
  flex-direction: column;

  margin-bottom: 15px;
  padding: 0 45px;
  min-height: 240px;

  @media (max-width: $tablet) {
    padding: 0 50px;
  }

  @media (max-width: $mobile) {
    padding: 0 15px;
    min-height: 226px;
  }
}

.login label {
  display: block;
  border-bottom: 1px solid $basic-black;
}

.login label:not(:last-of-type) {
  margin-bottom: 25px;
}

.login form a {
  font-size: 12px;
  line-height: 28px;
  text-decoration: none;
  text-align: right;
  color: inherit;
}

.login form button {
  margin-top: auto;
  padding: 25px;

  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 130%;
  text-decoration: none;
  color: $white;

  border: none;
  background-color: $gold;
  cursor: pointer;

  transition: opacity $easy;

  &:hover,
  &:active,
  &:focus {
    opacity: 0.5;
  }
}

.login input {
  width: 100%;

  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 35px;
  color: $grey;

  border: 0;
  background-color: transparent;
}

.login__sign-link {
  color: $basic-black;
  text-decoration: none;
}

.login__close-button {
  display: none;

  &--show {
    position: absolute;
    top: 0;
    right: 0;

    display: block;

    padding: 18px;
    width: 52px;
    height: 52px;

    border: 0;
    background-color: transparent;

    cursor: pointer;

    @media (max-width: $tablet) {
      transform-origin: 64% 35%;
      transform: scale(150%);
    }

    @media (max-width: $mobile) {
      padding: 10px;
      width: 46px;
      height: 46px;

      transform: none;
    }
  }
}
