.login {
  display: grid;
  place-items: center;

  margin: 0;
  height: 100vh;

  color: $grey;
}

.login h2 {
  margin-bottom: 45px;
  color: $basic-black;
}

.login p {
  margin: 0;
  text-align: center;
}

.login__img-wrapper {
  margin-bottom: 60px;
}

.login__form {
  position: relative;

  margin: auto;
  padding-bottom: 45px;
  width: 430px;
  background-color: $basic;

  @media (max-width: $tablet) {
    width: 442px;
  }

  @media (max-width: $mobile) {
    width: calc(100vw - 50px);
    min-width: 270px;
  }
}

.login form {
  display: flex;
  flex-direction: column;

  margin-bottom: 20px;
  padding: 0 45px;
  min-height: 300px;
}

.login label {
  display: block;
  border-bottom: 1px solid $basic-black;
}

.login label:not(:last-of-type) {
  margin-bottom: 40px;
}

.login form a {
  color: inherit;
  text-decoration: none;
  text-align: right;
}

.login form button {
  margin-top: auto;
  padding: 28px;

  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  line-height: 130%;
  text-decoration: none;
  color: $white;

  border: none;
  background-color: $gold;
  cursor: pointer;

  transition: opacity $easy;

  &:hover,
  &:active,
  &:focus {
    opacity: 0.5;
  }
}

.login input {
  width: 100%;

  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 35px;
  color: $grey;

  border: 0;
  background-color: transparent;
}

.login__sign-link {
  color: $basic-black;
  text-decoration: none;
}

.login__close-button {
  display: none;

  &--show {
    position: absolute;
    top: 0;
    right: 0;

    display: block;

    padding: 10px;
    width: 34px;
    height: 34px;

    border: 0;
    background-color: transparent;

    cursor: pointer;
  }
}
