.menu {
  font-size: 16px;
  line-height: 24px;

  @media (max-width: $tablet) {
    font-size: 24px;
    line-height: 36px;
  }
}

.menu__list {
  @include list-style-reset;

  display: flex;
  flex: 1;
  justify-content: center;

  @media (max-width: $tablet) {
    flex-direction: column;
    margin-top: 35px;
  }
}

.menu__about {
  display: none;

  @media (max-width: $tablet) {
    display: flex;

    margin-top: 10px;

    font-size: 18px;
    opacity: 0.75;
  }
}

.menu__link {
  padding: 11px 30px;
}
