.modal {
  display: none;
  background-color: $white;
  z-index: 10000;

  &--show {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    display: grid;
    place-items: center;
  }
}
