nav {
  font-size: 14px;
  line-height: 21px;
}

.nav__list {
  @include list-style-reset;
  text-align: left;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.nav__item {
  display: flex;
  flex: 1;
}

.nav__toggler {
  display: none;

  @media (max-width: $tablet) {
    display: flex;
    max-width: 40px;
  }
}

.nav__search {
  @media (max-width: $tablet) {
    position: relative;

    order: 4;
    margin-top: 38px;
    min-width: 100%;
  }
}

.nav__logo {
  justify-content: center;
  margin: 0 auto;
  min-width: 300px;
  color: $gold;
  transition: transform $easy;

  @media (max-width: $tablet) {
    color: inherit;
  }
}

.nav__links {
  justify-content: flex-end;

  @media (max-width: $tablet) {
    justify-content: flex-start;
    order: 6;
  }
}

.nav__shopping-cart {
  display: none;

  @media (max-width: $tablet) {
    display: flex;
    justify-content: flex-end;
    max-width: 40px;

  }
}

.nav__menu {
  margin: 0 calc(((100vw - 100%) / 2) * -1);
  min-width: 100vw;

  border-top: 1px solid $grey-light;

  @media (max-width: $tablet) {
    margin: 0;
    min-width: 100%;
    order: 5;
    border-top: none;

    overflow-y: scroll;
  }
}

.nav__link {
  display: flex;

  padding: 10px;

  text-decoration: none;
  color: inherit;
  white-space: pre-wrap;

  transition: color $easy;

  &:hover,
  &:focus,
  &:active {
    opacity: 0.5;
  }

  &--shop {
    @media (max-width: $tablet) {
      display: none;
    }
  }
}

.nav__button-lines {
  display: block;
  width: 24px;
  height: 2px;
  background: $basic-black;
}

@media (max-width: $tablet) {

  .nav__button--show {
    @media (max-width: $tablet) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      padding: 10px;
      width: 38px;
      height: 38px;
    }
  }

  .nav--nojs {
    color: $white;
    background-color: $gold;
  }

  .nav--opened {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    color: $white;
    background-color: $gold;

    z-index: 10;
  }

  .nav--opened .nav__button-lines {
    background-color: $white;
  }

  .nav--opened .nav__button-lines--top {
    transform-origin: 0% 0%;
    transform: rotate(45deg);
    transition: transform 0.4s ease-in-out;
  }

  .nav--opened .nav__button-lines--middle {
    transform-origin: 0% 0%;
    transform: scaleY(0);
    transition: transform 0.2s ease-in-out;
  }

  .nav--opened .nav__button-lines--bottom {
    transform-origin: 0% 100%;
    transform: rotate(-45deg);
    transition: transform 0.4s ease-in-out;
  }

  .nav--closed .nav__menu {
    display: none;
  }

  .nav--closed .nav__search {
    display: none;
  }

  .nav--closed .nav__links {
    display: none;
  }

  .nav--nojs .nav__button {
    display: none;
  }

  // .nav--nojs .nav__list {
  //   display: block;
  // }
}
