nav {
  font-size: 14px;
  line-height: 21px;
}

.nav__list {
  @include list-style-reset;
  text-align: left;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (max-width: $tablet) {
    display: block;
  }

  &--menu {
    margin: 18px calc(((100vw - 100%) / 2) * -1) 0;
    padding: 18px 0;

    border-top: 1px solid $grey-light;
  }

  // &--catalog,
  // &--about {
  //   display: flex;
  //   flex-wrap: wrap;
  //   justify-content: center;
  // }

  // &--catalog {
  //   @media (max-width: $tablet) {
  //     display: block;
  //     font-size: 24px;
  //     line-height: 37px;
  //   }
  // }

  // &--about {
  //   display: none;
  //   margin-bottom: 74px;
  //   font-size: 18px;
  //   line-height: 24px;
  //   color: rgba($white, 0.75);
  // }
}

.nav__item--logo {
  margin: 0 auto;
  transition: transform $easy;
}

.nav__link {
  display: flex;

  padding: 0 10px;

  text-decoration: none;
  color: inherit;
  white-space: pre-wrap;

  transition: color $easy;

  svg {
    display: none;
    margin-left: 10px;
  }

  &:hover,
  &:active {
    color: $gold;
  }
}


.nav__button {
  display: none;

  &--show {
    @media (max-width: $tablet) {
      position: absolute;
      top: 18px;
      left: -10px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      padding: 10px;
      width: 46px;
      height: 38px;
    }
  }
}

.nav__button-lines {
  display: block;
  width: 100%;
  height: 2px;
  background: $basic-black;
}

@media (max-width: $tablet) {
  .nav--opened .nav__button {
    height: 40px;
  }

  .nav--opened .nav__list--about {
    display: block;
  }

  .nav--opened .nav__button-lines {
    background: $white;
  }

  .nav--opened .nav__button-lines--top {
    transform-origin: 0% 0%;
    transform: rotate(45deg);
    transition: transform 0.4s ease-in-out;
  }

  .nav--opened .nav__button-lines--middle {
    transform-origin: 0% 0%;
    transform: scaleY(0);
    transition: transform 0.2s ease-in-out;
  }

  .nav--opened .nav__button-lines--bottom {
    transform-origin: 0% 100%;
    transform: rotate(-45deg);
    transition: transform 0.4s ease-in-out;
  }

  .nav--closed .nav__list {
    display: none;
  }

  .nav--closed ~ form {
    display: none;
  }

  .nav--nojs .nav__button {
    display: none;
  }

  .nav--nojs .nav__list {
    display: block;
  }
}
