nav {
  font-size: 14px;
  line-height: 21px;
}

.nav__wrapper {
  @media (max-width: $tablet) {
    width: calc(100vw - 32px);
  }

  @media (max-width: $mobile) {
    width: 100%;
  }
}

.nav__list {
  @include list-style-reset;
  text-align: left;

  display: flex;
  flex-wrap: wrap;
}

.nav__footer-list {
  @include list-style-reset;
}

.nav__item {
  display: flex;
  flex: 1;


  @media (max-width: $tablet) {
    align-items: center;
  }

  @media (max-width: $mobile) {
    min-width: 70px;
  }
}

.nav__toggler {
  display: none;

  @media (max-width: $tablet) {
    display: flex;
  }
}

.nav__search {
  @media (max-width: $tablet) {
    position: relative;

    order: 4;
    margin: 10px 30px 0;
    min-width: 500px;
  }

  @media (max-width: $mobile) {
    margin: 10px 13px 0;
    min-width: 280px;
  }
}

.nav__logo {
  justify-content: center;
  margin: 0 auto;
  color: $gold;
  transition: transform $easy;

  @media (max-width: $mobile) {
    transform: scale(80%);
  }
}

.nav__links {
  padding-top: 11px;
  justify-content: flex-end;

  @media (max-width: $tablet) {
    justify-content: flex-start;
    order: 6;
  }
}

.nav__link {
  display: flex;

  padding: 18px;

  text-decoration: none;
  color: inherit;

  transition: color $easy;

  &:hover,
  &:focus,
  &:active {
    opacity: 0.5;
  }

  &--shop {
    span:first-child {
      margin-right: 5px;
    }
    margin-right: -18px;

    @media (max-width: $tablet) {
      display: none;
    }
  }

  @media (max-width: $tablet) {
    padding: 30px;
  }

  &--login {
    @media (max-width: $tablet) {
      padding: 25px 30px;
      font-size: 18px;
    }
  }

  @media (max-width: $mobile) {
    padding: 13px;
  }
}

.nav__shopping-cart {
  display: none;

  @media (max-width: $tablet) {
    display: flex;
    justify-content: flex-end;
  }
}

.nav__menu {
  margin: 0 calc(((100vw - 100%) / 2) * -1);
  min-width: 100vw;

  border-top: 1px solid $grey-light;

  @media (max-width: $tablet) {
    margin: 0;
    min-width: 100%;

    order: 5;
    border-top: none;
  }
}

.nav__button-lines {
  display: block;
  width: 24px;
  height: 2px;
  background: $basic-black;
}

.nav__button {
  &--show {
    @media (max-width: $tablet) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      padding: 30px;
      width: 84px;
      height: 78px;
    }

    @media (max-width: $mobile) {
      padding: 13px;
      width: 55px;
      height: 44px;
    }
  }
}

@media (max-width: $tablet) {
  .nav--nojs {
    color: $white;
    background-color: $gold;
  }

  .nav--opened {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    color: $white;
    background-color: $gold;

    z-index: 10;
  }

  .nav--opened .nav__logo {
    color: $white;
  }

  .nav--opened .nav__button-lines {
    background-color: $white;
  }

  .nav--opened .nav__button-lines--top {
    transform-origin: 0% 0%;
    transform: rotate(45deg);
    transition: transform 0.4s ease-in-out;
  }

  .nav--opened .nav__button-lines--middle {
    transform-origin: 0% 0%;
    transform: scaleY(0);
    transition: transform 0.2s ease-in-out;
  }

  .nav--opened .nav__button-lines--bottom {
    transform-origin: 0% 100%;
    transform: rotate(-45deg);
    transition: transform 0.4s ease-in-out;
  }

  .nav--closed .nav__menu {
    display: none;
  }

  .nav--closed .nav__search {
    display: none;
  }

  .nav--closed .nav__links {
    display: none;
  }

  .nav--nojs .nav__button {
    display: none;
  }
}
