.page-header {
  padding-top: 13px;

  @media (max-width: $tablet) {
    padding-top: 0;
    font-size: 18px;
    line-height: 24px;
  }

  &--catalog {
    margin-bottom: 80px;
  }
}

.page-header__wrapper {
  position: relative;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.page-header svg {
  fill: currentColor;
}
