.page-footer {
  padding: 88px 0;
  color: $white;
  text-align: left;
  background-color: $black;

  svg {
    fill: currentColor;
  }

  @media (max-width: $tablet) {
    padding: 51px 0;
  }

  @media (max-width: $tablet) {
    padding: 51px 0 58px;
  }
}

.page-footer h2 {
  margin: 0 0 9px;
  font-family: $garamond;
  font-size: 34px;
  letter-spacing: 0.02em;
  line-height: 130%;

  @media (max-width: $tablet) {
    margin-bottom: 7px;
  }

  @media (max-width: $mobile) {
    margin-bottom: 10px;
    padding-right: 50px;
  }
}

.page-footer p {
  margin: 0 0 30px;
  color: $grey;
  font-weight: 400;

  @media (max-width: $mobile) {
    margin: 0 0 27px;
    padding-right: 42px;
  }
}

.page-footer__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: $tablet) {
    padding-right: 107px;
    justify-content: space-between;
  }

  @media (max-width: $mobile) {
    display: block;
    padding: 0;
  }
}

.page-footer__sign-up {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;

  padding-right: 20px;

  @media (max-width: $tablet) {
    margin-bottom: 44px;
    padding-right: 10px;
    min-width: 506px;
  }

  @media (max-width: $mobile) {
    margin: 0 0 34px;
    padding-right: 0;
    min-width: auto;
  }
}

.page-footer__sign-up form {
  border-bottom: 1px solid $white;
}

.page-footer__sign-up label {
  display: flex;
  flex: 1 1 0;
}

.page-footer__sign-up input {
  padding: 10px 0;
  width: 100%;

  font: inherit;
  color: $white;
  font-size: 14px;

  border: 0;
  background-color: transparent;

  transition: color $easy;

  &:hover,
  &:focus,
  &:active {
    color: $gold;
  }
}

.page-footer__sign-up input::placeholder {
  font-size: 14px;
}

.page-footer__nav {
  display: flex;
  justify-content: space-evenly;
  flex: 1 1 0;

  margin-top: 5px;

  @media (max-width: $tablet) {
    justify-content: space-between;

    margin: 0;
    min-width: 200px;
    max-width: 375px;
  }

  @media (max-width: $mobile) {
    margin: 0 0 40px;
    flex-direction: column;

    min-height: 356px;
    max-width: none;
  }
}

.page-footer__social {
  flex: 0;
  padding-top: 5px;
  padding-left: 35px;

  @media (max-width: $tablet) {
    padding: 0;
  }
}

.page-footer__field {
  display: flex;
}

.page-footer button {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-left: 20px;
  padding: 0;

  font: inherit;
  color: inherit;

  border: none;
  background-color: transparent;
  cursor: pointer;

  transition: color $easy;

  &:hover,
  &:focus,
  &:active {
    color: $gold;
  }

  @media (max-width: $mobile) {
    margin: 0;
    padding: 0;
  }
}

.page-footer button span:first-of-type {
  margin-right: 17px;
}

.page-footer__link {
  padding: 0 3px;

  @media (max-width: $mobile) {
    margin: 0;
    padding: 8px 0 9px;
  }
}
