.pagination__list {
  @include list-style-reset;

  display: flex;
  justify-content: center;
}

.pagination__item {
  margin: 0 10px;
}

.pagination__link {
  color: $grey;
  text-decoration: none;

  &--active {
    color: inherit;
  }
}
