.product-card h3 {
  margin: 25px 0 0;
  font-size: 16px;
  font-weight: 500;

  @media (max-width: $mobile) {
    margin-top: 20px;
  }
}

.product-card span {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
}
