.product-card {
  color: inherit;
  text-decoration: none;
  line-height: 130%;
  width: 100%;
}

.product-card h3 {
  margin: 17px 0 0;

  font-size: 16px;
  font-weight: 500;
  line-height: 185%;

  transition: color $easy;

  @media (max-width: $mobile) {
    margin: 12px 0 5px;
    line-height: 24px;
  }
}

.product-card span {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
}

.product-card:hover,
.product-card:active,
.product-card:focus {
  h3 {
    color: $gold;
  }

  span {
    text-decoration: underline;
  }
}
