.questions {
  margin-bottom: 109px;

  font-size: 18px;

  @media (max-width: $tablet) {
    margin-bottom: 69px;
  }

  @media (max-width: $mobile) {
    font-size: 16px;
    margin-bottom: 57px;
  }
}

.questions__list {
  @include list-style-reset;

  margin: 48px 8.5% 0;

  text-align: left;
  border: $gold-line;
  border-bottom: 0;

  @media (max-width: $tablet) {
    margin: 48px 0 0;
  }

  @media (max-width: $mobile) {
    margin: 27px 0 0;
  }
}

.questions__item {
  padding: 28px 25px 35px 20px;
  border-bottom: $gold-line;

  @media (max-width: $mobile) {
    padding: 0 20px 0 25px;
  }
}

.questions__title {
  padding: 14px 25px 8px;

  @media (max-width: $tablet) {
    padding: 14px 66px 8px 30px;
  }

  @media (max-width: $mobile) {
    padding: 12px 55px 12px 0;
  }
}

.questions__text {
  margin: 0 41% 3px 29px;

  font-size: 16px;
  line-height: 130%;
  font-weight: 400;

  @media (max-width: $tablet) {
    margin: 15px 0 8px 30px;
    width: 91%;
  }

  @media (max-width: $mobile) {
    margin: 0 0 20px;
    padding-right: 37px;
    width: auto;

    font-size: 14px;
    line-height: 145%;
  }

  &:not(:last-child) {
    margin-bottom: 49px;
  }
}
