.search {
  transition: color $easy;

  &:hover,
  &:active,
  &:focus {
    color: $gold;
  }
}

.search form {
  display: flex;
  flex: 1;
}

.search label {
  display: flex;
  align-items: center;
  flex: 1;
}


.search svg {
  margin-right: 15px;

  @media (max-width: $tablet) {
    position: absolute;
    bottom: 13px;
    left: 20px;
  }
}

.search input {
  padding: 5px;
  font-size: inherit;
  color: inherit;
  font-weight: 500;
  border: 0;

  @media (max-width: $tablet) {
    padding: 5px 50px;
    width: 100%;

    font-size: 18px;
    line-height: 30px;
    color: $white;

    background-color: rgba($white, $alpha: 0.15);
    border-radius: 21px;
  }
}

.search input::placeholder {

  @media (max-width: $tablet) {
    color: $white;
  }
}
