.section {
  margin-bottom: 120px;

  @media (max-width: $tablet) {
    margin-bottom: 70px;
  }

  @media (max-width: $mobile) {
    margin-bottom: 60px;
  }
}

.section h2 {
  @include title;

  margin-bottom: 20px;
}
