.social__list {
  @include list-style-reset;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.social__link {
  display: flex;
  align-items: center;

  color: inherit;
  text-decoration: none;
  transition: color $easy;

  &:hover,
  &:focus,
  &:active {
    color: $gold;
  }
}

.social__link--fb svg {
  margin-left: 2px;
}

.social__link span {
  margin-left: 15px;
}

.social__link--fb span {
  margin-left: 19px;
}

@media (max-width: $mobile) {
  .social__item:not(:last-child) {
    margin-right: 30px;
  }

  .social__link span {
    display: none;
  }

  .social__link svg {
    transform: scale(150%);
  }

  .social__list {
    flex-flow: row wrap;
  }
}
