<header class="page-header {{ mainMod }} section">
  <nav class="page-header__nav nav nav--nojs">
    <div class="nav__wrapper wrapper">
      <ul class="nav__list">
        <li class="nav__item nav__toggler">
          <button type="button" class="nav__button button" aria-label="Menu">
            <span class="nav__button-lines nav__button-lines--top"></span>
            <span class="nav__button-lines nav__button-lines--middle"></span>
            <span class="nav__button-lines nav__button-lines--bottom"></span>
          </button>
        </li>
        <li class="nav__item nav__search search">
          <form action="https://echo.htmlacademy.ru" method="post">
            <label>
              <span class="visually-hidden">Search</span>
              <svg width="14" height="14">
                <use xlink:href="img/sprite_auto.svg#icon-search"></use>
              </svg>
              <input type="search" id="search-field" name="search" placeholder="Type here to search">
            </label>
          </form>
        </li>
        <li class="nav__item nav__logo logo">
          <a href="main.html" class="nav__link">
            <svg width="66" height="66">
              <use xlink:href="img/sprite_auto.svg#icon-logo"></use>
            </svg>
          </a>
        </li>
        <li class="nav__item nav__links">
          <a href="login.html" class="nav__link nav__link--login" target="blank">
            <span>Login</span>
          </a>
          <a href="#" class="nav__link nav__link--shop">
            <span>Cart </span>
            <span>0</span>
          </a>
        </li>
        <li class="nav__item nav__shopping-cart">
          <a href="#" class="nav__link">
            <svg width="20" height="18">
              <use xlink:href="img/sprite_auto.svg#icon-shop"></use>
            </svg>
          </a>
        </li>
        <li class="nav__item nav__menu menu">
          <ul class="menu__list">
            <li class="menu__item">
              <a href="#" class="nav__link menu__link">What's new</a>
            </li>
            <li class="menu__item">
              <a href="catalog.html" class="nav__link menu__link">Chokers</a>
            </li>
            <li class="menu__item">
              <a href="catalog.html" class="nav__link menu__link">Necklaces</a>
            </li>
            <li class="menu__item">
              <a href="catalog.html" class="nav__link menu__link">Rings</a>
            </li>
            <li class="menu__item">
              <a href="catalog.html" class="nav__link menu__link">Earrings</a>
            </li>
            <li class="menu__item">
              <ul class="menu__list menu__about">
                <li class="menu__item">
                  <a href="#" class="nav__link menu__link">About CH</a>
                </li>
                <li class="menu__item">
                  <a href="#" class="nav__link menu__link">Stores & Hours</a>
                </li>
                <li class="menu__item">
                  <a href="#" class="nav__link menu__link">Contact Us</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
  <section class="page-header__intro intro {{ mod }}">
    <h1 class="visually-hidden">{{ pageTitle }}</h1>
    <div class="intro__wrapper wrapper">
      <h2>{{ title }}</h2>
      <p>{{ text }}</p>
    </div>
  </section>
</header>
