@mixin list-style-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin title {
  margin: 0;
  font-family: $garamond;
  font-size: 34px;
  line-height: 130%;
  letter-spacing: 0.03em;
}

@mixin corner {
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 0;
    width: 12px;
    height: 12px;
    border-left: 1px solid $gold;
    border-top: 1px solid $gold;
    transform-origin: 0 0;
    transform: rotate(45deg);
  }
}
