// Colors

$black: #1d1613;
$grey: #9b9997;
$grey-light: #f6f5f4;
$gold: #a87b62;
$basic: #f0eae4;
$white: #ffffff;

// Viewports

$tablet: 1023px;
$mobile: 767px;

//Animation

$easy: 0.3s ease-out;

//Res

$retina: 1.5dppx;

//Font
$poppins: "Poppins", "Arial", sans-serif;
$garamond: "Cormorant Garamond", "Times New Roman", "Times", serif;

//Decor
$line: 1px solid $gold;
